:root {
    /* green_shade */
    --G1: #010D00;
    --G2: #0C2605;
    --G3: #2E590E;
    --G4: #548C1C;
    --G5: #8EBF24;

    /* other colours */
    --C1: #3b9ca3;
    --C2: #04b556;
    --C3: #db166b;
    --C4: #242424;

    /* gradient colour */
    --greeting: linear-gradient(to left, var(--G1), var(--G3), var(--G1));
    --back-button: linear-gradient(to right, var(--G4), var(--G1));
    --img-bg: radial-gradient(var(--G3)35%, var(--G1), #010d0000);
}
@font-face {
    font-family: bebas;
    src: url("font/bebas_neue.ttf");
}
@font-face {
    font-family: robo-light;
    src: url("font/Roboto-Light.ttf");
}
@font-face {
    font-family: robo-bold;
    src: url("font/Roboto-Bold.ttf");
}
@font-face {
    font-family: robo-italic;
    src: url("font/Roboto-Italic.ttf");
}
@font-face {
    font-family: roboC;
    src: url("font/condensed/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: roboC-italic;
    src: url("font/condensed/RobotoCondensed-Italic.ttf");
}
@font-face {
    font-family: roboC-bold;
    src: url("font/condensed/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: roboC-MItalic;
    src: url("font/condensed/RobotoCondensed-MediumItalic.ttf");
}

/* for program.php */
/* other '@media print' for printing purpose is in their own code */
@media print {
    /* program.php */
    html {
        scale: 90%; /* set the scale for printing to 69% because the table won't fit */
    }
    nav {
        display: none;
    }
    .program nav {
        display: none;
    }
    #greeting {
        color: black;
    }
    #search {
        display: none;
    }
    .program form:nth-child(3) {
        display: none;
    }
    .seekAttendance a {
        display: none;
    }
    #printForm table {
        width: 19cm;
        max-width: fit-content;
        border-collapse: collapse;
    }
    #printForm table tr th {
        border: 1px solid black;
        background-color: none;
        text-wrap: wrap;
        color: black;
        width: 500px;
    }
    #printForm table tr td {
        border: 1px solid black;
        border-bottom: 1px solid black;
        background-color: none;
        text-wrap: wrap;
        color: black;
        padding: 1px;
        width: 500px;
    }
    #printForm div:nth-child(1) button {
        display: none;
    }
    #printForm table tr th:nth-last-child(1) {
        display: none;
    }
    #printForm table tr th:nth-last-child(1) input {
        display: none;
    }
    #printForm table tr td:nth-last-child(1){
        display: none;
    }
    #printForm table tr td:nth-last-child(1) {
        width: 5cm;
    }
    #printForm table tr th:nth-last-child(1) {
        width: 5cm;
    }
    .program table tr td input {
        display: none;
    }

}


/* style configuration */
body, html {
    margin: 0;
    padding: 0;
    background-image: url("image/background.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: var(--C4);
    padding:0 0 0 0;
    width: 100%;
}
nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav button {
    width: 100%;
    background-color: var(--C4);
    color: white;
    font-family: robo-bold;
    font-size: 130%;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
nav button:hover {
    border-bottom: var(--G5) solid 1px;
}
nav button:nth-child(5):hover {
    color: red;
}
nav div h4 {
    color: white;
    font-family: robo-italic;
    text-align: center;
    margin: 0;
    text-wrap: nowrap;
}


/* class */
.displayProgram {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
}
.displayProgram h2 {
    background-color: var(--G3);
    color: black;
    padding: 5px 10px 5px 10px;
    font-family: bebas;
    font-size: 200%;
}
.displayProgram table tr th {
    background-color: var(--G4);
    color: black;
    padding: 15px;
    font-family: roboC-bold;
    font-size: large;
}
.displayProgram table tr th:nth-child(1) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.displayProgram table tr th:nth-last-child(1) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.displayProgram table tr td {
    background-color: black;
    color: white;
    text-align: center;
    font-family: roboC-italic;
    border-bottom: var(--G4) solid 2px;
    padding: 5px;
    font-size: large;
}

.guru {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.guru form {
    background-color: var(--G3);
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    font-family: roboC-bold;
    display: flex;
    align-items: center;
}
.guru form input {
    color: white;
    text-align: center;
    outline: none;
    border: none;
    padding: 15px;
    margin: 0 0 0 10px;
    font-family: robo-italic;
    border-radius: 10px 0 0 10px;
    background-color: var(--G1);
}
.guru form button {
    background-color: var(--G2);
    color: white;
    font-family: roboC;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.guru form button img {
    width: 15px;
}
.guru form button p {
    margin: 0;
    padding: 0;
}
.guru div h1 {
    font-family: roboC-bold;
    text-align: center;
    color: white;
}
.guru div {
    background-image: var(--img-bg);
}
.guru table {
    margin: 10px 0 auto 0;
}
.guru table tr th {
    background-color: var(--G4);
    color: black;
    font-family: roboC-bold;
    font-size: large;
    padding: 15px;
}
.guru table tr th:nth-child(1) {
    border-radius: 10px 0 0 10px;
}
.guru table tr th:nth-last-child(1) {
    border-radius: 0 10px 10px 0;
}
.guru table tr td {
    border-bottom: var(--G4) solid 2px;
    color: white;
    font-family: roboC-italic;
    font-size: large;
    padding: 15px;
    text-align: center;
}

.seekAttendance {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
    gap: 10px;
}
.seekAttendance h1 {
    color: white;
    font-family: bebas;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.seekAttendance button {
    color: black;
    font-family: roboC-bold;
    background-color: var(--G4);
    font-size: large;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}
.seekAttendance button:hover {
    background-color: white;
    outline: 1px black;
}
.seekAttendance a {
    font-family: roboC;
    margin: 10px;
}

.program {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.program div:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: roboC-bold;
    text-align: center;
}
.program div img {
    background-image: var(--img-bg);
}
.program form:nth-child(3) {
    background-color: var(--G3);
    padding: 10px;
    border-radius: 15px;
    font-family: roboC-bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.program form:nth-child(3) div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0 0 0;
}
.program form:nth-child(3) div input:nth-child(1) {
    color: white;
    text-align: center;
    outline: none;
    border: none;
    padding: 10px;
    font-family: robo-italic;
    border-radius: 10px 0 0 10px;
    background-color: var(--G1);
}
.program form:nth-child(3) div input:nth-child(2) {
    color: white;
    background-color: var(--G1);
    padding: 10px;
    border: none;
    border-left: solid white 1px;
    outline: none;
    font-family: robo-italic;
    height: 16px;
}
input[type='date']::-webkit-calendar-picker-indicator {
    margin: 0;
    padding: 0;
    background-image: url("image/calendar.svg");
}
.program form:nth-child(3) div button {
    background-color: var(--G2);
    color: white;
    font-family: roboC;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.program form:nth-child(3) button img {
    width: 15px;
}
.program form:nth-child(3) button p {
    margin: 0;
    padding: 0;
}
.program table {
    margin: 10px 0 auto 0;
    max-width: 90vw;
}
.program table tr th {
    background-color: var(--G4);
    color: black;
    font-family: roboC-bold;
    padding: 10px 2px 10px 2px;
    white-space: nowrap;
}
.program table tr th:nth-child(1) {
    border-radius: 10px 0 0 10px;
}
.program table tr th:nth-last-child(1) {
    border-radius: 0 10px 10px 0;
}
.program table tr td {
    border-bottom: var(--G4) solid 2px;
    color: white;
    font-family: roboC-italic;
    padding: 5px;
    text-align: center;
}
.program table tr td:nth-child(4) {
    text-wrap: nowrap;
}
.program table tr td input {
    margin: 0;
}

.addProgram, .addProgram form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.addProgram h1 {
    color: white;
    font-family: bebas;
    text-align: center;
    margin-bottom: 0;
    text-wrap: wrap;
    max-width: 100%;
}
.addProgram hr {
    border-left-width: 90px;
    border-right-width: 90px;
    margin: 0;
}
.addProgram form #syncTextToTitle {
    background-color: var(--G2);
    color: white;
    font-family: roboC;
    font-size: large;
    padding: 15px;
    border: none;
    border-radius: 15px;
    text-align: center;
}
.addProgram form div:nth-last-child(1n-2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.addProgram form div:nth-child(2) div,
.addProgram form div:nth-child(3) div:nth-child(1),
.addProgram form div:nth-child(3) div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--G2);
    padding: 10px;
    border-radius: 15px;
    color: white;
}
.addProgram form div:nth-child(2) div label,
.addProgram form div:nth-child(3) div:nth-child(1) label,
.addProgram form div:nth-child(3) div:nth-child(2) label,
.addProgram form div:nth-child(4) label {
    font-family: roboC-bold;
    color: white;
}
.addProgram form div:nth-child(2) div input,
.addProgram form div:nth-child(3) div:nth-child(1) input,
.addProgram form div:nth-child(3) div:nth-child(2) select {
    font-family: roboC;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    background-color: var(--G1);
    text-align: center;
}
.addProgram form div:nth-child(3) div:nth-child(2) select {
    width: 100%;
}
.addProgram form div:nth-child(4) {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--G2);
    padding: 10px;
    border-radius: 15px 15px 0 15px;
}
.addProgram form div:nth-child(4) textarea {
    background-color: var(--G1);
    border: none;
    border-radius: 10px 10px 0 10px;
    color: white;
    padding: 5px;
    font-family: roboC-italic;
    font-size: large;
    outline: none;
}
.addProgram form div:nth-child(5) {
    gap: 0px;
}
.addProgram form div:nth-child(5) button:nth-child(1),
.addProgram form div:nth-child(5) button:nth-child(2) {
    color: white;
    padding: 20px;
    margin: 0;
    background-color: var(--G1);
    border: 1px white solid;
    width: 100%;
    font-size: large;
    font-family: roboC-bold;
    transition: 0.3s;
    cursor: pointer;
}
.addProgram form div:nth-child(5) button:nth-child(1) {
    border-radius: 10px 0 0 10px;
    text-decoration: underline;
}
.addProgram form div:nth-child(5) button:nth-child(1):hover {
    padding: 20px 20px 20px 30px;
    background-color: var(--G4);
    color: black;
    border: none;
    text-decoration: none;
}
.addProgram form div:nth-child(5) button:nth-child(2) {
    border-radius: 0 10px 10px 0;
}
.addProgram form div:nth-child(5) button:nth-child(2):hover {
    padding: 20px 30px 20px 20px;
    background-color: red;
    color: black;
    border: none;
    text-decoration: underline;
}

/* id */
#greeting {
    font-family: roboC-bold;
    font-size: 150%;
    color: white;
    padding: 5px 0 5px 0;
    background-image: var(--greeting);
    text-align: center;
}

#logo {
    background-color: var(--G3);
    color: var(--G1);
    padding: 5px;
    font-family: bebas;
    width: fit-content;
    text-align: center;
    margin: 0;
}

#back-button {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
    cursor: pointer;
    border: none;
    outline: none;
    position: fixed;
    color: white;
    font-family: bebas;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back-button:hover {
    border-bottom: var(--G4) solid 2px;
    background-image: var(--back-button);
    background-position: 0;
    background-repeat: no-repeat;
    animation-name: slide-in;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}
@keyframes slide-in {
    0% {
        background-position: -100px;
    }
    100% {
        background-position: 0;
    }
}
#back-button img {
    width: 50px;
}

#logoHTMLcontainer {
    margin: 10px;
    background-color: var(--C3);
}

#smallText {
    background-color: var(--C3);
    font-family: roboC-bold;
    width: 100%;
    text-align: center;
}

#important_msg {
    color: red;
    font-family: roboC-bold;
}