:root {
    /* green_shade */
    --G1: #010D00;
    --G2: #0C2605;
    --G3: #2E590E;
    --G4: #548C1C;
    --G5: #8EBF24;

    /* other colours */
    --C1: #3b9ca3;
    --C2: #04b556;
    --C3: #242424;

    /* gradient colour */
    --greeting: linear-gradient(to left, var(--G1), var(--G3), var(--G1));
    --back-button: linear-gradient(to right, var(--G4), var(--G1));
    --img-bg: radial-gradient(var(--G3)35%, var(--G1), #010d0000);
}
@font-face {
    font-family: bebas;
    src: url("font/bebas_neue.ttf");
}
@font-face {
    font-family: robo-light;
    src: url("font/Roboto-Light.ttf");
}
@font-face {
    font-family: robo-bold;
    src: url("font/Roboto-Bold.ttf");
}
@font-face {
    font-family: robo-italic;
    src: url("font/Roboto-Italic.ttf");
}
@font-face {
    font-family: roboC;
    src: url("font/condensed/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: roboC-italic;
    src: url("font/condensed/RobotoCondensed-Italic.ttf");
}
@font-face {
    font-family: roboC-bold;
    src: url("font/condensed/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: roboC-MItalic;
    src: url("font/condensed/RobotoCondensed-MediumItalic.ttf");
}

/* for program.php */
/* other '@media print' for printing purpose is in their own code */
@media print {
    /* program.php */
    html {
        scale: 90%; /* set the scale for printing to 69% because the table won't fit */
    }
    nav {
        display: none;
    }
    .program nav {
        display: none;
    }
    #greeting {
        color: black;
    }
    #search {
        display: none;
    }
    .program form:nth-child(3) {
        display: none;
    }
    .seekAttendance a {
        display: none;
    }
    #printForm table {
        width: 19cm;
        max-width: fit-content;
        border-collapse: collapse;
    }
    #printForm table tr th {
        border: 1px solid black;
        background-color: none;
        text-wrap: wrap;
        color: black;
        width: 500px;
    }
    #printForm table tr td {
        border: 1px solid black;
        border-bottom: 1px solid black;
        background-color: none;
        text-wrap: wrap;
        color: black;
        padding: 1px;
        width: 500px;
    }
    #printForm table tr td:nth-last-child(1) {
        width: 5cm;
    }
    #printForm table tr th:nth-last-child(1) {
        width: 5cm;
    }
}

/* style configuration */
body, html {
    margin: 0;
    padding: 0;
    background-image: url("image/background.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
}

nav {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: var(--C3);
    padding:0 0 0 0;
    width: 100%;
}
nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
nav button {
    width: 100%;
    background-color: var(--C3);
    color: white;
    font-family: robo-bold;
    font-size: 130%;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
nav button:hover {
    border-bottom: var(--G5) solid 1px;
}
nav button:nth-child(5):hover {
    color: red;
}
nav div h4 {
    color: white;
    font-family: robo-italic;
    text-align: center;
    margin: 0;
    text-wrap: nowrap;
}

/* class */
.divForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--G2);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(131, 131, 131);
    animation-name: shadow;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
@keyframes shadow {
    0% {box-shadow: 0 0 0 rgb(0, 0, 0);}
    50% {box-shadow: 0 0 25px rgb(131, 131, 131);}
    100% {box-shadow: 0 0 0 rgb(0, 0, 0);}
 }
.form h2 {
    font-family: bebas;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.form button {
    background-color: var(--G1);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-family: robo-bold;
    font-size: large;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.form button:hover {
    background-color: var(--G5);
    color: black;
}
.form input {
    background-color: var(--G1);
    padding: 15px 25px 15px 25px;
    text-align: center;
    font-family: robo-light;
    font-size: large;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
}

.displayProgram {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80vw;
    margin: auto;
}
.displayProgram h2 {
    background-color: var(--G3);
    color: black;
    padding: 5px 10px 5px 10px;
    font-family: bebas;
    font-size: 200%;
}
.displayProgram table tr th {
    background-color: var(--G4);
    color: black;
    padding: 15px;
    font-family: roboC-bold;
    font-size: large;
}
.displayProgram table tr th:nth-child(1) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.displayProgram table tr th:nth-last-child(1) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.displayProgram table tr td {
    background-color: black;
    color: white;
    text-align: center;
    font-family: roboC-italic;
    border-bottom: var(--G4) solid 2px;
    padding: 5px;
    font-size: large;
}

.murid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.murid form {
    background-color: var(--G3);
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    font-family: roboC-bold;
    display: flex;
    align-items: center;
}
.murid form input {
    color: white;
    text-align: center;
    outline: none;
    border: none;
    padding: 15px;
    margin: 0 0 0 10px;
    font-family: robo-italic;
    border-radius: 10px 0 0 10px;
    background-color: var(--G1);
}
.murid form button {
    background-color: var(--G2);
    color: white;
    font-family: roboC;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.murid form button img {
    width: 15px;
}
.murid form button p {
    margin: 0;
    padding: 0;
}
.murid div h1 {
    font-family: roboC-bold;
    text-align: center;
    color: white;
}
.murid div {
    background-image: var(--img-bg);
}
.murid table {
    margin: 10px 0 auto 0;
}
.murid table tr th {
    background-color: var(--G4);
    color: black;
    font-family: roboC-bold;
    font-size: large;
    padding: 15px;
}
.murid table tr th:nth-child(1) {
    border-radius: 10px 0 0 10px;
}
.murid table tr th:nth-last-child(1) {
    border-radius: 0 10px 10px 0;
 }
.murid table tr td {
    border-bottom: var(--G4) solid 2px;
    background-color: black;
    color: white;
    font-family: roboC-italic;
    font-size: large;
    padding: 15px;
    text-align: center;
}

.program {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.program div:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: roboC-bold;
    text-align: center;
}
.program div img {
    background-image: var(--img-bg);
}
.program form:nth-child(3) {
    background-color: var(--G3);
    padding: 10px;
    border-radius: 15px;
    font-family: roboC-bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.program form:nth-child(3) div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0 0 0;
}
.program form:nth-child(3) div input:nth-child(1) {
    color: white;
    text-align: center;
    outline: none;
    border: none;
    padding: 10px;
    font-family: robo-italic;
    border-radius: 10px 0 0 10px;
    background-color: var(--G1);
}
.program form:nth-child(3) div input:nth-child(2) {
    color: white;
    background-color: var(--G1);
    padding: 10px;
    border: none;
    border-left: solid white 1px;
    outline: none;
    font-family: robo-italic;
    height: 16px;
}
input[type='date']::-webkit-calendar-picker-indicator {
    margin: 0;
    padding: 0;
    background-image: url("image/calendar.svg");
}
.program form:nth-child(3) div button {
    background-color: var(--G2);
    color: white;
    font-family: roboC;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.program form:nth-child(3) button img {
    width: 15px;
}
.program form:nth-child(3) button p {
    margin: 0;
    padding: 0;
}
.program table {
    margin: 10px 0 auto 0;
    max-width: 90vw;
}
.program table tr th {
    background-color: var(--G4);
    color: black;
    font-family: roboC-bold;
    padding: 15px 2px 15px 2px;
    white-space: nowrap;
}
.program table tr th:nth-child(1) {
    border-radius: 10px 0 0 10px;
}
.program table tr th:nth-last-child(1) {
    border-radius: 0 10px 10px 0;
}
.program table tr td {
    background-color: var(--G1);
    border-bottom: var(--G4) solid 2px;
    color: white;
    font-family: roboC-italic;
    padding: 5px;
    text-align: center;
}
.program table tr td:nth-child(4) {
    text-wrap: nowrap;
}
.program table tr td input {
    margin: 0;
}

.recordMessage {
    box-shadow: 0 0 0 white;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--G3);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}
.recordMessage:hover {
    background-color: var(--G4);
    box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.5);
}
.recordMessage h1 {
    color: white;
    font-family: bebas;
    font-size: 250%;
    text-align: center;
}
.recordMessage h3 {
    color: black;
    font-family: roboC-bold;
    font-size: 100%;
}
.recordMessage small {
    color: black;
    font-family: roboC-italic;
    font-size: large;
}
.recordMessage ul {
    padding: 10px;
}
.recordMessage ul li {
    font-family: roboC;
    font-size: large;
    text-wrap: nowrap;
}

.record {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}
.record div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: roboC-bold;
}
.record p {
    text-align: center;
}
.record div img {
    background-image: var(--img-bg);
}
.record table tr th {
    padding: 15px;
    font-size: 150%;
    font-family: roboC-bold;
    text-align: center;
    background-color: var(--G4);
}
.record table tr th:nth-child(1) {
    border-radius: 10px 0 0 0;
}
.record table tr th:nth-last-child(1) {
    border-radius: 0 10px 0 0;
}
.record table tr td {
    color: white;
    font-family: roboC-MItalic;
    text-align: center;
    padding: 15px;
    font-size: 120%;
    border-bottom: white dashed 1px;
    background-color: black;
}
.record button {
    background-color: var(--G1);
    border: white solid 2px;
    color: white;
    font-family: roboC-bold;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: 10px 0 0 0;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}
.record button:hover {
    padding: 15px;
    background-color: var(--G3);
    border: var(--G3) 2px solid;
    border-radius: 10px;
}

.selectClass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.selectClass h1 {
    text-align: center;
    font-family: bebas;
    color: white;
}
.selectClass div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}
.selectClass div button {
    background-color: var(--G4);
    font-family: roboC-bold;
    font-size: larger;
    color: black;
    padding: 40px;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    transition: 0.2s;
}
.selectClass div button:hover {
    background-color: white;
    border: solid black 1px;
}
.selectClass hr {
    width: 100%;
    border-width: 0.8px 0 0.8px 0;
}

.seekAttendance {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
    gap: 10px;
}
.seekAttendance h1 {
    color: white;
    font-family: bebas;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.seekAttendance button {
    color: black;
    font-family: roboC-bold;
    background-color: var(--G4);
    font-size: large;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}
.seekAttendance button:hover {
    background-color: white;
    outline: 1px black;
}
.seekAttendance a {
    font-family: roboC;
    margin: 10px;
}

.addMurid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: fit-content;
    margin: auto;
}
.addMurid h1 {
    font-family: bebas;
    color: white;
}
.addMurid hr {
    border-left-width: 300px;
    border-right-width: 300px;
    animation-name: displayLine;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.addMurid form button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: roboC-bold;
    background-color: var(--G4);
    font-size: large;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}
.addMurid form button:hover {
    background-color: var(--G5);
}
.addMurid form table tr td label {
    color: white;
    font-family: roboC-bold;
    font-size: larger
}
.addMurid form table tr td input,
.addMurid form table tr td select {
    background-color: var(--G3);
    padding: 5px 20px 5px 20px;
    color: white;
    font-family: roboC;
    font-size: large;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
}
.addMurid form table tr td {
    color: white;
    font-family: roboC;
    font-size: large;
}
@keyframes displayLine {
    0% {
        border-left-width: 0;
        border-right-width: 0;
    }
    100% {
        border-left-width: 300px;
        border-right-width: 300px;
    }
}

.edit {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.edit form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.edit form label {
    color: white;
    font-family: roboC-bold;
    font-size: larger;
}
.edit form input {
    background-color: var(--G3);
    color: white;
    font-family: roboC-bold;
    padding: 15px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: large;
}
.edit form select {
    background-color: var(--G3);
    color: white;
    font-family: roboC-bold;
    font-size: large;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 15px;
}
.edit form button {
    background-color: rgba(0, 0, 0, 0);
    font-family: roboC-italic;
    font-size: large;
    border: 2px solid white;
    color: white;
    padding: 10px;
    width: 100%;
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
}
.edit form button:nth-child(10) {
    border-radius: 10px 10px 0 0;
}
.edit form button:nth-child(12) {
    border-radius: 0 0 10px 10px;
}
.edit form button:hover:nth-child(10) {
    background-color: orange;
    font-family: roboC-bold;
    color: black;
    border: 2px solid orange;
}
.edit form button:hover:nth-child(11) {
    background-color: red;
    font-family: roboC-bold;
    color: black;
    border: 2px solid red;
    text-decoration: underline;
}
.edit form button:hover:nth-child(12) {
    background-color: var(--C2);
    font-family: roboC-bold;
    color: black;
    border: 2px solid var(--C2);
}
.edit form hr {
    border-left-width: 100px;
    border-right-width: 100px;
}
.edit form div {
    color: white;
    font-family: roboC-bold;
}
.edit small {
    font-family: roboC-italic;
    color: yellow;
    text-align: center;
}

.import,
.import div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.import {
    margin: 20px 0 0 0;
    gap: 10px;
}
.import h1 {
    color: white;
    font-family: bebas;
    background-image: var(--greeting);
    width: 100%;
    text-align: center;
    margin: auto;
}
.import div:nth-child(2) {
    background-color: var(--G3);
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.import div:nth-child(2) div form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}
.import div:nth-child(2) p,
.import div:nth-child(2) small {
    color: white;
    font-family: roboC-bold;
}
.import div:nth-child(2) p {
    font-size: large;
}
.import div:nth-child(2) div form p {
    font-family: bebas;
    color: white;
    font-size: 200%;
    margin-bottom: 0;
}
.import div:nth-child(2) div small small {
    color: gold;
    font-family: roboC;
}
.import div:nth-child(2) div form hr {
    border-left-width: 120px;
    border-right-width: 120px;
}
.import div:nth-child(2) div form label,
.import div:nth-child(2) div form #import {
    display: inline-block;
    color: white;
    font-family: roboC;
    padding: 10px 20px;
    background-color: var(--G4);
    border-radius: 10px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    width: 100%;
    box-shadow: 1px 1px 10px black;
}
.import div:nth-child(2) div form label {
    margin-bottom: 10px;
    text-align: center;
}
.import div:nth-child(2) div form #import {
    width: 100%;
    font-family: roboC-bold;
    font-size: 150%;
    text-align: center;
}
.import div:nth-child(2) div form label:hover,
.import div:nth-child(2) div form #import:hover {
    background-color: var(--C2);
    box-shadow: 5px 5px 5px black;
}
.import div:nth-child(2) div form input {
    display: none;
}
.import center p {
    color: yellow;
    font-family: roboC-bold;
}
.import center h3 {
    font-family: roboC-bold;
    color: white;
}
.import center table tr td {
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 1px white;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: roboC;
}
.import center table {
    border-collapse: collapse;
}

/* id */
#greeting {
    font-family: roboC-bold;
    font-size: 150%;
    color: white;
    padding: 5px 0 5px 0;
    background-image: var(--greeting);
    text-align: center;
}

#logo {
    background-color: var(--G3);
    color: var(--G1);
    padding: 5px;
    font-family: bebas;
    width: fit-content;
    text-align: center;
    margin: 0;
}

#back-button {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
    cursor: pointer;
    border: none;
    outline: none;
    position: fixed;
    color: white;

    font-family: bebas;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back-button:hover {
    border-bottom: var(--G4) solid 2px;
    background-image: var(--back-button);
    background-position: 0;
    background-repeat: no-repeat;
    animation-name: slide-in;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}
@keyframes slide-in {
    0% {
        background-position: -100px;
    }
    100% {
        background-position: 0;
    }
}
#back-button img {
    width: 50px;
}

#logoHTMLcontainer {
    margin: 10px;
    background-color: var(--C3);
}

#smallText {
    background-color: var(--C2);
    box-shadow: 5px 5px 0 white;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: roboC-italic;
    font-size: large;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    cursor: default;
}

#important_msg {
    color: red;
    font-family: roboC-bold;
}

#subtitle {
    font-family: roboC-bold;
    font-size: larger;
    color: white;
    text-align: center;
}

#headerStyle {
    font-family: bebas;
    font-size: 300%;
    color: white;
    animation-name: fade-IN;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
@keyframes fade-IN {
    0% {color: black;}
    50% {color: black;}
    100% {color: white;}
}